<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body
		style='  background-image: linear-gradient(180deg, rgb(236, 235, 246), rgb(121, 121, 250));
 '
	>
		{{{body}}}
	</body>
</html>