.container {
    width: 90vw;
    margin-top: 10vw;
}

.title {
    margin: 0;
    font-size: 5.5vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    height: 145vw;
    margin-top: 2vw;
}

.subtitle {
    font-size: 4.3vw;
    margin-top: 5vw;
    margin-bottom: 2vw;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.line p {
    margin: 2vw 0 0 0;
    font-size: 2.7vw;
}
p.item {
    font-size: 2.5vw;
}

@media (min-width: 768px) {
    .container {
        margin: 10vw 0 0 0;
        max-width: 80vw;
    }

    .content {
        height: 730px;
    }

    .title {
        font-size: 30px;
        margin: 0;
    }
    .subtitle {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 13px;
    }
    .line p {
        font-size: 14px;
        margin-top: 14px;
    }
}

@media (min-width: 1170px) {
    .container {
        width: 935px;
        margin: 80px 0 40px 0;
    }
}
